body {
    background: #ff5b19;
    margin: 0;
}

.text {
    margin: auto;
    font-size: 150px;
    color: white;
    font-family: Lobster, serif;
    text-shadow: crimson 5px 5px;
    -webkit-text-stroke: 4px black;
    padding: 15%;
    text-align: center;
    height: 100%;
}